<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1 class = "display-1">Adharsh Ravi</h1>
        <p class = "lead">Bio and Fact sheet</p>
    </div>



<div class="container">
<div class="row">

  <div class="col text-dark">
    <p class = "fs-2 lead">
      <strong>
      I am a student (rising sophomore) at Brandeis University.
      </strong>
    </p>
    <p class = "fs-2 lead">
      <strong>
      I grew up and still live in Westborough since age 7. <br> I have previously lived in Burlington, Massachusetts until I was 6.
      </strong>
    </p>

    <div class="bg-secondary text-dark">
      <h2 class = "display-3">
        Places I lived ..
      </h2>
      <ul class="list-group">
        <li class="list-group-item"> <p class = "fs-2 lead"> Burlington, Massachusetts</p></li>
      </ul>
    </div>
    <br>
    <div class = "bg-primary text-dark">
      <h2 class = "display-3">
        Places I have visited
      </h2>
      <ul class="list-group bg-dark">
          <li class="list-group-item"><p class = "fs-2 lead">India</p></li>
          <li class="list-group-item"><p class = "fs-2 lead">California</p></li>
          <li class="list-group-item"><p class = "fs-2 lead">United Arab Emirates</p></li>
      </ul>
    </div>
    <br>
    <div class = "bg-success text-dark">
    <h2 class = "display-3">
      Websites I like
    </h2>
    <ul class="list-group">
      <li class="list-group-item"><p class = "fs-2 lead"><a href="http://www.youtube.com">Youtube</a></p></li>
      <li class="list-group-item"><p class = "fs-2 lead"><a href="http://www.wikipedia.org">Wikipedia</a></p></li>
    </ul>
    </div>
  </div>

  <div class="col">
    <h2 class = "display-3">
      My Photo:
    </h2>
    <img src="images/MyPictureofMe.jpg"
     width="100%" alt="photo of Adharsh" >
  </div>

</div>
</div>

 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
