<%- include('bootheader') -%>

<%- include('menubar') -%>


  <div class="jumbotron">

    <h1 class = "display-1"> Help </h1>

    <p class = "lead">How to use this App </p>
</div>


<div class="jumbotron">
    <br>
    <p class = "fs-2 lead">There are 10 countries you get to choose from while filling out a climate form for either viewing chart data or nonchart data. However, there is a specific year range you have to follow when choosing to view data for a country. This is explained in more details in the forms for both chart and nonchart data. <br>
      The purpose of this app is so that the user can view climate data of other countries and just observe what has changed over the years with the climate, in terms of both temperature and precipitation.
    </p>
    <br>
</div>
<%- include('bootfooter') -%>
