<%- include('bootheader') -%>

<%- include('menubar') -%>


  <div class="jumbotron">

    <h1 class = "display-1"> Help </h1>

    <p class = "lead">How to use this App </p>
</div>


<div class="jumbotron">
    <br>
    <p class = "fs-2 lead">There are 10 countries you get to choose from. However, there are only a certain number of year ranges which can display. <br>
      In fact, there are some countries for which this app can help present data for specific time ranges, meaning that not all the options for start and end years are applicable for all countries. <br>
      The climate form will allow for you to view data on temperatures and precipitation, both monthly and annually. However, the climate chart form will only allow you to see a graph for monthly data.
    </p>
    <br>
</div>
<%- include('bootfooter') -%>
