<%- include('bootheader') -%>

<%- include('menubar') -%>


  <div class="jumbotron">

    <h1 class = "display-1"> ClimaApp Change </h1>

    <p class = "lead">Welcome to the ClimApp Change </p>
</div>


<div class="jumbotron">
    <br>
    <p class = "lead">Climate Change has long since been a serious issue in today's society. We have seen a substantial increase in temperature overall. <br>
      The term climate refers to the general weather conditions of a place over many years. In the United States, for example, Maine’s climate is cold and snowy in winter while South Florida’s is tropical year-round. Climate change is a significant variation of average weather conditions—say, conditions becoming warmer, wetter, or drier—over several decades or more. It’s that longer-term trend that differentiates climate change from natural weather variability. <br> And while “climate change” and “global warming” are often used interchangeably, global warming—the recent rise in the global average temperature near the earth’s surface—is just one aspect of climate change
      Action must be taken if we want to help save the environment. Here is a link below for you to read more on the causes of climate change and what you can do.</p>
    <br>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="http://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/clms5_8343180142_0113b42e49_o_2400.jpg?itok=yqmnXf1u" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Can't Take the Heat?</h5>
            <p class = "lead">The USA is now taking a lot of heat thanks to climate change.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="http://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/clms5_istock-155141288_2400.jpg?itok=BjSpmfkm" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>The Icebreaker</h5>
            <p>The ice sure is breaking, but horribly.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="http://climate.nasa.gov/system/content_pages/main_images/1320_effects-image.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Some consequences of climate change</h5>
            <p>With climate change could come more frequent wildfires, longer periods of drought in some areas, and more intense tropical storms in other areas.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Land_vs_Ocean_Temperature.svg/2560px-Land_vs_Ocean_Temperature.svg.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Land hot!</h5>
            <p class = "fs-2 lead">Climate change has effected land more so than the ocean as the land surface temperature is increasing more than the ocean surface temperature.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="http://climate.nasa.gov/internal_resources/495" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Water we going to do about the ocean?</h5>
            <p>Of course, climate change doesn't necessarily mean that there will be any less water in all places around the world.<br>In fact, in places such as New York City which are surrounded my major bodies of water such as the Atlantic Ocean, <br>
              there will be an increase in sea level meaning that these places will become more prone to floods.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <p class = "fs-2 lead">To read more about climate change and its causes, <a href = "http://www.nrdc.org/stories/global-climate-change-what-you-need-know"> click on this link. </a></p>
    <p class = "fs-2 lead">To view interactive data on climate change, <a href = "http://climate.nasa.gov/vital-signs/carbon-dioxide/"> click on this link. </a></p>
    <p class = "fs-2 lead">To get help on how to use this app, <a href = "/help">please click here.</a> </p>
</div>
<%- include('bootfooter') -%>
